{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Welcome To International Kitchen</h1>
  <img src="{% static 'images/111.jpg' %}" alt="restaurant" class="header-image" />
  <p>Discover Unique Recipes from Our Chefs Around the World!</p>
  <h2>Dynamic content</h2>
  <p>Experience Culinary Journey:</p>
  <ul>
    <li><strong>Dish Types:</strong> {{ num_dish_types }}</li>
    <li><strong>Dishes:</strong> {{ num_dishes }}</li>
    <li><strong>Cooks:</strong> {{ num_cooks }}</li>
    <li><strong>Culinary Traditions from Around the World:</strong> {{ num_countries }}</li>
  </ul>

  <p>Authentic Dishes Crafted by Chefs from Around the Globe!
  </p>

{% endblock %}
