body {
  font-family: 'Manrope', sans-serif;
  margin-top: 20px;
  background-image: url('/static/images/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.link-to-page {
  float: right;
  margin: 0 2px 0 2px;
}

.btn-custom-logout {
  background-color: #6c757d;
  color: white;
  border: 1px solid #6c757d;
}

.btn-custom-logout:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.main-content {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-image {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.content-overlay {
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}